/* Signup.module.css */
.container {
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: rgb(255, 241, 219);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(83, 100, 147);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px;
    background-color: rgb(239, 90, 111);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover {
    background-color: rgb(212, 189, 172);
    transform: scale(1.05);
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  